@model IEnumerable<InventoryMaster360.Models.Product>
<div class="mb-3">
    <a asp-action="Create" asp-controller="Product" class="btn btn-primary">
        + Add New Product
    </a>
</div>


@if (Model != null && Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>SKU</th>
                <th>Description</th>
                <th>BuyingPrice</th>
                <th>SalesPrice</th>
                <th>StockQuantity</th>
                <th>CriticStockQuantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.SKU</td>
                    <td>@item.Description</td>
                    <td>@item.BuyingPrice ₺</td>
                    <td>@item.SalesPrice ₺</td>
                    <td>@item.StockQuantity</td>
                    <td>@item.CriticStockQuantity</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        There's no item added to database yet.
    </div>
}